<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="07cb2432-1f30-40c7-8cf5-b8e17220da9a" type="text/javascript" async></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLQWZ6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

	<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
	<div id="tagline">Ratings and Reviews You Can Trust</div>
	<div class="text-container">
		<p>
			Are you frustrated by fake reviews?
		</p>
		<p>
			Are you tired of everywhere having the same rating of 4.5 stars?
		</p>
		<p>
			Hedgehog uses a clever algorithm to sniff out fake reviews and give you meaningful ratings on pubs, restaurants and hotels that you can trust
		</p>
		<p>
			We'll even personalise them as we get to know you better
		</p>
	</div>
	<div class="form-container">
		<p>Sign up for early access!</p>
		<form method="POST" action="/signup">
	        {{ form.hidden_tag() }}

	        <div class="form-group">
	          {{ form.email.label(class='form-label') }}
	          {{ form.email(class='form-entry-field') }}
	        </div>

	        {{ form.submit(class="btn signup", id="submit") }}
		</form>
	</div>
	</body>
</html>