<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="07cb2432-1f30-40c7-8cf5-b8e17220da9a" type="text/javascript" async></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLQWZ6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

	<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
	<div id="tagline">Ratings and Reviews You Can Trust</div>
	<a class="btn login" href="/login">Login</a>
	<div class="search-form-container">
		<form method="POST" action="/">
	        {{ form.hidden_tag() }}

	        <p>Search for pubs</p>

	        {{ form.search(class='form-entry-field') }}
	        

	        {{ form.submit(class="btn search", id="submit") }}
	        <a class="btn leave-review" href="/localplaces">Leave a Review</a>
		</form>
	</div>
	</body>
</html>