<!DOCTYPE html>
<html>
	<head>
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139433876-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-139433876-1');
		</script>
	</head>
	<body>
	<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
	<div id="tagline">Ratings and Reviews You Can Trust</div>
	<div class="text-container">
		<p>
			Are you frustrated by fake reviews?
		</p>
		<p>
			Are you tired of everywhere having the same rating of 4.5 stars?
		</p>
		<p>
			Hedgehog uses a clever algorithm to sniff out fake reviews and give you meaningful ratings on pubs, restaurants and hotels that you can trust
		</p>
		<p>
			We'll even personalise them as we get to know you better
		</p>
	</div>
	<div class="form-container">
		<p>Sign up for early access!</p>
		<form method="POST" action="/signup">
	        {{ form.hidden_tag() }}

	        <div class="form-group">
	          {{ form.email.label(class='form-label') }}
	          {{ form.email(class='form-entry-field') }}
	        </div>

	        {{ form.submit(class="btn signup") }}
		</form>
	</div>

	</body>
</html>