<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="07cb2432-1f30-40c7-8cf5-b8e17220da9a" type="text/javascript" async></script>
	</head>
	<body>

		<h2>Leave a review of a place you have visited</h2>

		<form method="POST" action="/leaveReview">
			{{ search_form.hidden_tag() }}

			{{ search_form.search(class='form-entry-field') }}

			{{ search_form.submit(class="btn search", id="submit") }}
		</form>
		<div class="results-container">
			<h3>Places Nearby</h3>
			{% if local_places %}

			{% for result in local_places %}
				<a href="/reviewpage/{{result['name']}}">
					<div class="result" id="{{result['name']}}">
						<div class="place-name"> {{result['name']}}</div>
					</div>
				</a>	
			{% endfor %}

			{% endif %}
		</div>

	</body>
</html>