<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >	
		<link href="{{ url_for('static', filename='css/review.css') }}" rel="stylesheet" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/review.js"></script>
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="07cb2432-1f30-40c7-8cf5-b8e17220da9a" type="text/javascript" async></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLQWZ6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
		<div id="tagline">Ratings and Reviews You Can Trust</div>
		<div class="nav-container">
			<a class="btn home" href="/">Home</a>
		{% if name %}
	          <div class="btn profile">{{name}}</div>
			  <div class="btn logout" href="/logout">Logout</div>
	    {% else %}
	    	  <a class="btn login" href="/login">Login</a>
			  <a class="btn signup" href="/signup">Signup</a>
	    {% endif %}
		</div>

		<div class="review-form form-container">
			<div class="review-title"> Leave a review of a place you have visited</div>

			<form method="POST" action="/leaveReview">
				{{ search_form.hidden_tag() }}

				{{ search_form.search(class='form-entry-field') }}

				{{ search_form.submit(class="btn search", id="submit") }}
			</form>
		</div>
		
		<div class="local-search-results" id="local-places">
			<div class="nearby-places-title">Places Nearby</div>
				
					<!--<div class="local-result">
						<div class="local-place-name"></div>
						<div class="local-place-type"></div>
					</div>	-->
				
		</div>
		
	</body>
</html>