<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<link href="{{ url_for('static', filename='css/placedetails.css') }}" rel="stylesheet" >
		<meta http-equiv="Cache-Control" content="no-cache"/>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLQWZ6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
		<div id="tagline">Ratings and Reviews You Can Trust</div>
		<div class="title-container">
			<div class="title">{{placename}}</div>
			<div class="subtitle">{{details['type']}} in {{details['location']}}</div>
		</div>
		<div class="score-container">
			<div class="score">Rating: {{details['true score']}}</div>
			<div class="ratings-count">{{details['number of ratings']}} ratings</div>
			<a class="calc-info">How was this calculated?</a>
		</div>
		<div class="details-container">
			<div class="address">Address: {{google_details['vicinity']}}</div>
			<div class="website">Website: {{google_details['website']}}</div>
			<div class="contact">Contact: {{google_details['formatted_phone_number']}}</div>
			<div class="hours">Opening Hours: {{google_details['opening_hours']['weekday_text']}}</div>
		</div>
		
		<h1>Things to add to this page</h1>
		<ul>
			<li>google maps widget</li>
			<li>Pictures</li>
			<li>Rank amongst similar places in the vicinity</li>
			<li>Recent Comments</li>
			<li>Ads Ads Ads</li>
		</ul>

	</body>
</html>