<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<link href="{{ url_for('static', filename='css/placedetails.css') }}" rel="stylesheet" >
	    <link rel="stylesheet" href="../static/css/jqcloud.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script type="text/javascript" src="../static/js/jqcloud.js"></script>
	    <script type="text/javascript" src="../static/js/wordcloud.js"></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLQWZ6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
		<div id="tagline">Ratings and Reviews You Can Trust</div>
		<div class="nav-container">
		{% if name %}
			  <a class="btn home" href="/">Home</a>
	          <a class="btn profile">{{name}}</a>
			  <a class="btn logout" href="/logout">Logout</a>
	    {% else %}
	    	  <a class="btn home" href="/">Home</a>
	    	  <a class="btn login" href="/login">Login</a>
			  <a class="btn signup" href="/signup">Signup</a>
	    {% endif %}
		</div>
		<a class="link" href="/reviewpage/{{placename}}">
			<div class="btn leave-review">Leave Review</div>
		</a>
		<div class="title-container">
			<div class="title">{{placename}}</div>
			<div class="subtitle">{{details['type']}} in {{details['location']}}</div>
		</div>
		<div class="score-container">
			<div class="score">{{details['true score']}}</div>
			<div class="ratings-count">{{details['number of ratings']}} ratings</div>
		</div>
		<div class="details-container">
			<div class="address details">Address: {{google_details['vicinity']}}</div>
			<div class="website details">Website: {{google_details['website']}}</div>
			<div class="contact details">Contact: {{google_details['formatted_phone_number']}}</div>
		</div>
		<div class="comments-container">
			<div class="pros container-box">
				<div class="cloud-title">People Liked</div>
				<meta id="pros-word-cloud-data" data-content="{{pwcd}}">
				<div id="pros_word_cloud" class="word-cloud"></div>		
			</div>

			<div class="cons container-box">
				<div class="cloud-title">People Didn't Like</div>
				<meta id="cons-word-cloud-data" data-content="{{cwcd}}">
				<div id="cons_word_cloud" class="word-cloud"></div>
			</div>
		</div>

	</body>
</html>