<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLQWZ6T');</script>
		<!-- End Google Tag Manager -->
		<title>Hedgehog</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
		<meta http-equiv="Cache-Control" content="no-cache"/>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLQWZ6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<img id="logo" src="../static/img/HEDGEHOG.png" alt="Hedgehog Logo">
		<div id="tagline">Ratings and Reviews You Can Trust</div>
		<h1>Details about {{placename}}</h1>
		<h3> {{placename}} is in {{details['location']}}
		<h3>{{placename}} has had {{details['number of ratings']}} ratings</h3>
		<h3>{{placename}} has an average rating of {{details['average rating']}}</h3>
		<h3>{{placename}} has a true score of {{details['true score']}}</h3>

		<p>This page will show:</p>
		<ul>
			<li>Location</li>
			<li>Contact Details</li>
			<li>Pictures</li>
			<li>Score</li>
			<li>How this score was calculated</li>
			<li>Rank amongst similar places in the vicinity</li>
			<li>Recent Comments</li>
			<li>Location on the Map</li>
			<li>Ads Ads Ads</li>
			<li>Link to their website</li>
		</ul>

	</body>
</html>