html {
	font-family: verdana;
	background-color: #3a849a;
}

#logo {
    width: 50%;
    margin-left: 25%;
    position: relative;
    bottom: 140px;
}

#tagline {
    width: 100%;
    position: relative;
    text-align: center;
    bottom: 300px;
    font-size: 38px;
}

#coming-soon {
    width: 100%;
    text-align: center;
    font-style: italic;
    position: relative;
    bottom: 260px;
}

@media screen and (max-width: 400px) {
  
    #logo {
    width: 80%;
    margin-left: 10%;
    position: relative;
    bottom: 70px;
}

    #tagline {
        bottom: 170px;
    }

    #coming-soon {
        position: relative;
        bottom: 130px;
    }
}

