html {
	font-family: verdana;
	background-color: #3a849a;
}

form {
    margin-top: 14px;
}

#logo {
    position: absolute;
    width: 50%;
    height: 135px;
    margin-left: 25%;
    object-fit: cover;
    object-position: 100%;
}

#tagline {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-style: italic;
    color: #17078e;
    padding-top: 90px;
}



.section {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5%;
    width: 90%;
}

.nav-container {
    float: right;
    width: 99%;
    height: 60px;
    position: fixed;
    top: 25px;
}

.nav-container a {
    width: 10%;
    height: 30px;
    line-height: 30px;
    margin-right: 1%;
    margin-left: 0;
    float: right;
    background-color: peachpuff;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.home {
    width: 50px;
    margin-left: 1%;
    float: left;
    position: relative;
    bottom: 115px;
    z-index: 1;
}

#homeicon {
    width:50px;
}

.form-container {
    width: 50%;
    margin-left: 25%;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 5px;
}

.search-form{
    height: 300px;
    position: relative;
    top: 75px;
}

.search-form p{
    font-size: 24px;
    margin-left: 5%;
    text-align: center;
}

.form-container p {
    margin-left: 50px;
}

.form-label {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px;
}

.form-entry-field {
    width: 50%;
    height: 30px;
    line-height: 30px;
    margin-left: 25%;
    font-size: 20px;
}

.form-select-field {
    width: 50%;
    line-height: 30px;
    margin-left: 25%;
    font-size: 20px;
    height: 130px;
}


.btn {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 5px;
    background-color: darkgreen;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.search {
    width: 40%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 30%;
    font-size: 28px;
}

.search:hover {
    background-color: darkgreen;
}

.form-group {
    margin-bottom: 5px;
}

.leave-review {
    display: block;
    background-color: silver;
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin-left: 25%;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.leave-review:hover {
    background-color: grey;
}


@media (max-width: 810px) {
  
    .text-container {
        font-size: 20px;
    }
}

@media (max-width: 530px) {
  
    .text-container {
        font-size: 16px;
    }
}

@media (max-width: 350px) {

    #logo {
    width: 300px;
    margin-left: calc((100% - 300px) / 2);
    }

    #tagline {
        font-size: 18px;
        padding-top: 50px;
    }
  
    .text-container {
        font-size: 12px;
    }

    .form-container {
        width: 180px;
        height: 180px;
        margin-left: calc((100% - 180px) / 2);
    }

    .form-entry-field {
        width: 150px;
        margin-left: 15px;
    }

    .form-container p {
    margin-left: 5px;
    }

    .signup {
        font-size: 18px;
    }
}

