.search-results {
    width: 96%;
    margin-left: 2%;
    margin-top: 10px;
}

.result {
    width: 100%;
    background-color: whitesmoke;
    height: 180px;
    border: 2px solid black;
    margin-left: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none
}

.result:hover {
    cursor: pointer;
}

.details-box {
	width:70%;
	height: 100%;
	margin: 0;
	float: left;
}

.ratings-box {
	width:30%;
	height: 100%;
	margin: 0;
    float: left;
}

.place-name {
    margin-top: 10px;
    margin-left: 2%;
    font-size: 48px;
    white-space: nowrap;
  	overflow: hidden;
}

.place-location {
    float: left;
    margin-top: 32px;
    font-size: 36px;
    margin-left: 2%
}

.place-type {
    float: left;
    margin-top: 32px;
    margin-left: 2px;
    font-size: 36px;
}



.place-score {
    height: 100px;
    width: 80%;
    margin-top: 10px;
    margin-left: 15%;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    font-weight: 800;
    border: 1px solid black;
}

.place-number-of-votes {
    border: 1px solid black;
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin-top: 6px;
    text-align: center;
    margin-left: 15%;
    font-size: 34px;
}

.new-place-form {
    width:80%;
    margin-left: 10%;
    height:80%;
}

.add-place-container {
    width:100%;
    background-color: beige;
    position: fixed;
    bottom:0px;
}

.add-place-form {
    margin-top: 10px
}

.add-place-form h2 {
    text-align: center;
    font-size: 18px
}

#place_type {
    height: 130px;
}

.review-new {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}